<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.model.CourseMapper">


    <!--- insertUser api -->
    <insert id="insertCourse" parameterType="com.henry.model.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.courses (user_id, name, intro, create_at, update_at)
        VALUES (#{userID}, #{name}, #{intro}, #{createAt}, #{updateAt});
    </insert>


    <!--- courseResultMap -->
    <resultMap id="getCourseByIDResult" type="com.henry.model.Course2">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="intro" column="intro"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
        <association property="user" javaType="com.henry.model.User">
            <id property="id" column="user_id" />
            <result property="email" column="user_email"/>
            <result property="nickname" column="user_nickname"/>
            <result property="createAt" column="user_create_at"/>
            <result property="updateAt" column="user_update_at"/>
        </association>
    </resultMap>
    <select id="getCourse2ByID" parameterType="int" resultType="com.henry.model.Course2" resultMap="getCourseByIDResult">
        SELECT
            c.id,
            c.name,
            c.intro,
            c.create_at,
            c.update_at,
            u.id as user_id,
            u.email as user_email,
            u.nickname as user_nickname,
            u.create_at as user_create_at,
            u.update_at as user_update_at
        FROM ssm.courses AS c
            LEFT JOIN ssm.users AS u ON c.user_id = u.id
        WHERE c.id = #{id}
    </select>

</mapper>