<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.model.PlanMapper">

    <cache/>

    <!--- insertPlan api -->
    <insert id="insertPlan" parameterType="com.henry.model.Plan" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ssm.plans (course_id, name, create_at, update_at)
        VALUES (#{courseID}, #{name}, #{createAt}, #{updateAt});
    </insert>


    <!--- getPlansByCourseID api -->
    <resultMap id="getPlansByCourseIDMap" type="com.henry.model.Plan">
        <id property="id" column="id" />
        <result property="courseID" column="course_id"/>
        <result property="name" column="name"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>
    <select id="getPlansByCourseID" parameterType="int" resultType="com.henry.model.Plan" resultMap="getPlansByCourseIDMap">
        SELECT * FROM ssm.plans WHERE course_id = #{courseID}
    </select>
</mapper>
