<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henry.model.UserMapper">
    <select id="selectUser" parameterType="int" resultType="com.henry.model.User">
        SELECT * FROM ssm.t_user WHERE id = #{id}
    </select>
    <select id="login" parameterType="com.henry.model.User" resultType="com.henry.model.User">
        SELECT * FROM ssm.t_user WHERE username = #{arg0} AND password = #{arg1}
    </select>
    <select id="getUsersByUsername" parameterType="string" resultType="com.henry.model.User">
        SELECT * FROM ssm.t_user WHERE username LIKE CONCAT('%', #{username}, '%')
    </select>
    <select id="getUsersByEmail" parameterType="string" resultType="com.henry.model.User">
        SELECT * FROM ssm.t_user WHERE email LIKE '%${email}%'
    </select>
    <insert id="insertUser" parameterType="com.henry.model.User">
        INSERT INTO ssm.t_user (username, password, age, gender, email)
        VALUES (#{username}, #{password}, #{age}, #{gender}, #{email});
    </insert>
    <update id="updateUser" parameterType="com.henry.model.User">
        UPDATE ssm.t_user SET
              username = #{username},
              password = #{password},
              age = #{age},
              gender = #{gender},
              email = #{email}
        WHERE id = #{id}
    </update>
    <delete id="deleteUser" parameterType="int">
        DELETE FROM ssm.t_user WHERE id = #{id}
    </delete>
</mapper>