<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.henry.model.User" init-method="init" destroy-method="remove">
        <constructor-arg name="id" value="1000"/>
        <constructor-arg name="email" value="test@gmail.com"/>
        <constructor-arg name="nickname" value="henry"/>
        <constructor-arg name="createAt" value="2024-06-05 12:00:00"/>
        <constructor-arg name="updateAt" value="2024-06-05 12:00:00"/>
    </bean>

</beans>