<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

<!--    <bean id="user" class="com.henry.model.com.henry.model.User">-->
<!--        <property name="id" value="1000"/>-->
<!--        <property name="email" value="test@gmail.com"/>-->
<!--        <property name="nickname" value="henry"/>-->
<!--        <property name="createAt" value="2024-06-05 12:00:00"/>-->
<!--        <property name="updateAt" value="2024-06-05 12:00:00"/>-->
<!--    </bean>-->

<!--    <bean id="user" class="com.henry.model.com.henry.model.User" init-method="init">-->
<!--        <constructor-arg name="id" value="1000"/>-->
<!--        <constructor-arg name="email" value="test@gmail.com"/>-->
<!--        <constructor-arg name="nickname" value="henry"/>-->
<!--        <constructor-arg name="createAt" value="2024-06-05 12:00:00"/>-->
<!--        <constructor-arg name="updateAt" value="2024-06-05 12:00:00"/>-->
<!--    </bean>-->

<!--    <bean id="course2" class="com.henry.model.Course2" autowire="byName">-->
<!--        <property name="id" value="1000"/>-->
<!--        <property name="intro" value="1000"/>-->
<!--        <property name="name" value="1000"/>-->
<!--        <property name="createAt" value="2024-06-05 12:00:00"/>-->
<!--        <property name="updateAt" value="2024-06-05 12:00:00"/>-->
<!--    </bean>-->

    <bean id="mysqlDataSource" class="com.mysql.cj.jdbc.MysqlDataSource">
        <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
        <property name="user" value="henry"/>
        <property name="password" value="Henry747"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="mysqlDataSource"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mysqlDataSource"/>
    </bean>

    <context:component-scan base-package="com.henry"/>

    <aop:aspectj-autoproxy/>

</beans>